<div id="programme" class="saturday">
	<div ng-repeat="post in saturday">
	<hr>
	<div class="container">
		<div class="row programme-collapse" ng-click="showDetails = ! showDetails">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<h2>
					{{ post.title }}
				</h2>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-angle-down fa-2x" ng-hide="showDetails"></i>
				<i class="fa fa-angle-up fa-2x" ng-show="showDetails"></i>
			</div>
		</div>
		<div class="row" ng-show="showDetails">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<div class="programme-item" ng-bind-html="post.content"></div>
			</div>
		</div>
	</div>
	<hr>
	</div>
</div>
