<div id="about">
	<div class="container">
	  <div><h3><strong>Serpentine Radio is the Serpentine Galleries’ online radio and podcast station, featuring sound-based art, specially-commissioned programmes and audio recordings.</strong> Reflecting on the transformative power of radio in the history of the 20th century, Serpentine Radio sets out to explore what radio can mean today. Initiated on the occasion of the <i>Transformation Marathon </i>arts festival in 2015, Serpentine Radio has been re-launched as part of this year’s <i>Miracle Marathon</i>. Becoming a permanent fixture of the Serpentine’s programme, it now brings together over 10 years of audio experiments and commissions from the Galleries’ archives.</h3>
<h3>From early 2017, Serpentine Radio will feature regular podcast shows, live broadcasts from Serpentine events and a special ongoing series of sound commissions – integrating all facets of the Serpentine’s multi-disciplinary programme.</h3>
</div>
	</div>
</div>