<div class="container">
	<div class="row section-heading">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<h3>PARTICIPANTS</h3>
		</div>
		<!--<div class="col-lg-1 col-lg-offset-4 col-md-2 col-sm-2 col-xs-12">
			<h3>All</h3>
		</div>
		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
			<h3>A-J</h3>
		</div>
		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
			<h3>K-S</h3>
		</div>
		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
			<h3>T-Z</h3>
		</div>-->
	</div>
</div>

<div id="participants" class="container">
	<div ng-repeat="item in posts">
		<a ui-sref="participant({participantId: item.slug })">

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="item-box">
					<!--<div class="circle-info">
						<p>
							42
						</p>
					</div>-->

					<div class="circle-image-background" style="background-image: url('{{ item.thumbnail_images.medium.url }}')">
					</div>
					<h4>
						{{ item.title }}
					</h4>
					<h6>
						{{ item.custom_fields.title[0] ? item.custom_fields.title[0] : '' }}
					</h6>
				</div>
			</div>

		</a>
	</div>
</div>

<a ui-sref="marathon-participants">
  <div class="circle-image-background show-more"> 
    <h5>
      show more
    </h5>
  </div>
</a>
