<div class="container schedule-days">
	<div class="row">
		<div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
			<h3>PROGRAMME</h3>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h3 ng-class="{true: 'active', false: 'schedule-deactive'}[!yupNope.isSelected]" 
  ng-click="yupNope.isSelected ? (yupNope.isSelected = !yupNope.isSelected) : ''" ui-sref=".saturday">Saturday 8</h3>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h3 ng-class="{false: 'active', true: 'schedule-deactive'}[!yupNope.isSelected]" 
  ng-click="!yupNope.isSelected ? (yupNope.isSelected = !yupNope.isSelected) : ''" ui-sref=".sunday" >Sunday 9</h3>
		</div>
	</div>
</div>

<div ui-view>

<div ui-view="" class="ng-scope">
	<div id="programme" class="saturday ng-scope">
		<!-- ngRepeat: post in saturday --><div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<h2 class="ng-binding">
						10am-2pm
					</h2>
					<div class="programme-item ng-binding"><p><a href="/#/participants/yana-peel">Yana Peel<br>
</a><em>Introduction</em></p>
<p><a href="/#/participants/hans-ulrich-obrist">Hans Ulrich Obrist<br>
</a><em>Introduction</em></p>
<p><a href="/#/participants/steffi-czerny">Steffi Czerny<br>
</a><em>Introduction</em></p>
<p><a href="/#/participants/kasper-konig">Kasper König<br>
</a><em>Skulptur Projekte Münster</em></p>
<p><a href="/#/participants/gilbert-george">Gilbert &amp; George<br>
</a><em>FUCKOSOPHY FOR ALL</em></p>
<p><a href="/#/participants/sophia-al-maria">Sophia Al-Maria<br>
</a><em>The Unblinding</em></p>
<p><a href="/#/participants/pierre-depaz">Pierre Depaz<br>
</a><em>Machine Language</em></p>
<p><a href="/#/participants/carina-namih">Carina Namih<br>
</a><em>The Phantom of Heilbronn: Epistemology, Science and the Miraculous</em></p>
<p><a href="/#/participants/riccardo-sabatini">Riccardo Sabatini<br>
</a><em>Unraveling the code of life</em></p>
<p><a href="/#/participants/christo">Christo<br>
</a><em>The Floating Piers, Lake Iseo, Italy, 2014-16</em> and two works in progress: <em>Over the River</em>,<em>&nbsp;Project for the Arkansas River, State of Colorado </em>and <em>The Mastaba, Project for Abu Dhabi, United Arab Emirates</em></p>
<p><a href="/#/participants/fleur-melbourn">Fleur Melbourn<br>
</a><em>the little immaculate conception</em></p>
</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<!--<i class="fa fa-angle-down fa-2x"></i>-->
				</div>
			</div>
		</div>
		<hr>
		</div><!-- end ngRepeat: post in saturday --><div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<h2 class="ng-binding">
						2-4pm
					</h2>
					<div class="programme-item ng-binding"><p><a href="/#/participants/andrew-ohagan">Andrew O’Hagan<br>
</a><em>Miracles and Lies</em></p>
<p><a href="/#/participants/a-igoni-barrett">A. Igoni Barrett</a></p>
<p><a href="/#/participants/etel-adnan">Etel Adnan<br>
</a><em>Filmed by Hans Ulrich Obrist</em></p>
<p><a href="/#/participants/kader-attia">Kader Attia<br>
</a><em>Excerpts from&nbsp;Reason’s Oxymorons</em></p>
<p><a href="/#/participants/rose-issa">Rose Issa<br>
</a><em>In conversation with Lutz Becker, Signs of Our Times</em></p>
<p><a href="/#/participants/marcus-du-sautoy">Marcus du Sautoy<br>
</a><em>What are the chances of that!</em></p>
<p><a href="/#/participants/jussi-parikka">Jussi Parikka<br>
</a><em>Underground: Infrastructural Imaginary</em></p>
<p><a href="/#/participants/kumi-naidoo">Kumi Naidoo<br>
</a><em>Africans Rising for Justice, Peace and Dignity</em></p>
</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<!--<i class="fa fa-angle-down fa-2x"></i>-->
				</div>
			</div>
		</div>
		<hr>
		</div><!-- end ngRepeat: post in saturday --><div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<h2 class="ng-binding">
						4-7pm
					</h2>
					<div class="programme-item ng-binding"><p><a href="/#/participants/kathelin-gray">Kathelin Gray<br>
</a><em>Magic Circle: Identifying some special powers of enclosure, as in a ritual space, a theatrical stage, a laboratory enclosure. A compressed history of the unique, entangled histories of Biosphere 2, the Research Vessel Heraclitus, Theatre of All Possibilities and the Theatre for the Reconstitution of Reality (THEATRRR)</em></p>
<p><a href="/#/participants/romuald-hazoume">Romuald Hazoumè</a></p>
<p><a href="/#/participants/genesis-breyer-p-orridge">Genesis P-Orridge</a></p>
<p><a href="/#/participants/timothy-morton">Timothy Morton<br>
</a><em>Stuff Can Happen</em></p>
<p><a href="/#/participants/manthia-diawara">Manthia Diawara<br>
</a><em>Césaire’s Call to Magicians</em></p>
<p><a href="/#/participants/ruth-padel">Ruth Padel<br>
</a><em>Tidings: the Magic of Silent, Listen and Inexplicable</em></p>
<p><a href="/#/participants/mark-cousins">Mark Cousins</a><br>
<em>Miracles and Wishes</em></p>
<p><a href="/#/participants/jalal-toufic">Jalal Toufic</a><br>
<em>The Aura: An Approach; or, How Many Miracles Did Jesus Perform?</em></p>
</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<!--<i class="fa fa-angle-down fa-2x"></i>-->
				</div>
			</div>
		</div>
		<hr>
		</div><!-- end ngRepeat: post in saturday --><div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<h2 class="ng-binding">
						7-10pm
					</h2>
					<div class="programme-item ng-binding"><p><a href="/#/participants/james-bridle">James Bridle</a><br>
<em>The Cloud Index</em><br>
<a href="/#/participants/norman-m-klein">Norman M. Klein&nbsp;</a><br>
<em>Rogues, Picaroons and Sharpers: The Mysteries of the Scam</em><br>
<a href="/#/participants/carlo-rovelli">Carlo Rovelli&nbsp;</a><br>
<em>Rituals Appease, Imagination Creates, Magical Thinking Misleads</em></p>
<p><a href="/#/participants/norman-m-klein">Norman M. Klein</a> and <a href="/#/participants/carlo-rovelli">Carlo Rovelli</a><br>
<em>Book signings&nbsp;</em><br>
<a href="/#/participants/kemang-wa-lehulere">Kemang Wa Lehulere</a><br>
<em>The Bird Lady in Nine Layers of Time</em><br>
<a href="/#/participants/calla-henkel">Calla Henkel </a>&amp; <a href="/#/participants/max-pitegoff">Max Pitegoff&nbsp;</a><br>
<em>Budget Cryogenics</em><br>
<a href="/#/participants/es-devlin">Es Devlin&nbsp;</a><br>
<em>Box of Miracles</em><br>
<a href="/#/participants/ben-okri">Ben Okri&nbsp;</a><br>
<em>The Miraculous: An Invocation</em></p>
<p>&nbsp;</p>
</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<!--<i class="fa fa-angle-down fa-2x"></i>-->
				</div>
			</div>
		</div>
		<hr>
		</div><!-- end ngRepeat: post in saturday --><div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<h2 class="ng-binding">
						THROUGHOUT
					</h2>
					<div class="programme-item ng-binding"><p><strong>INSTALLATION</strong><br>
<a href="/#/participants/douglas-gordon">Douglas Gordon</a><br>
<em>I still believe in miracles.</em></p>
<p><strong>STAGE DESIGN</strong><br>
<a href="/#/participants/sophia-al-maria">Sophia Al-Maria</a> and <a href="/#/participants/navine-g-khan-dossos">Navine G. Khan-Dossos</a><br>
<em>Know the Ways</em></p>
<p><strong>LIVE BLOG</strong><br>
<a href="/#/participants/legacy-russell">Legacy Russell&nbsp;</a></p>
</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<!--<i class="fa fa-angle-down fa-2x"></i>-->
				</div>
			</div>
		</div>
		<hr>
		</div><!-- end ngRepeat: post in saturday -->
	</div>
</div>			








</div>
