<div class="container schedule-days">
	<div class="row">
		<div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
			<h3>PROGRAMME</h3>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h3 ng-class="{true: 'active', false: 'schedule-deactive'}[!yupNope.isSelected]" 
  ng-click="yupNope.isSelected ? (yupNope.isSelected = !yupNope.isSelected) : ''" ui-sref=".saturday">Saturday 8</h3>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h3 ng-class="{false: 'active', true: 'schedule-deactive'}[!yupNope.isSelected]" 
  ng-click="!yupNope.isSelected ? (yupNope.isSelected = !yupNope.isSelected) : ''" ui-sref=".sunday" >Sunday 9</h3>
		</div>
	</div>
</div>

<div ui-view>


</div>
