<div class="modal-body" id="modal-body">
	<i ng-click="minim()" id="playerMin" class="fa fa-compress round-border" aria-hidden="true"></i>

  <div ng-show="isVideo">
    <nav id="navigation" class="on-air">
      <div class="container">
        <p>
          ON AIR
        </p>
      </div>
    </nav><!-- /Navigation -->
    <!--https://www.youtube.com/embed/rW7x_3uVlxw-->
    <!--<iframe id="live-video" width="100%" height="100%" src="https://www.youtube.com/embed/Ilx-wtoPsLg" frameborder="0" allowfullscreen></iframe>-->
  </div>

  <div ng-hide="isVideo">
    <!--<i id="playerBack" class="fa fa-long-arrow-left round-border" aria-hidden="true"></i>
    <i id="playerNext" class="fa fa-long-arrow-right round-border" aria-hidden="true"></i>-->
    <div id="feature">
      <div class="centered">
        <div id="audio-time">
          <span id="audio-current-time">00:00 </span>
           |
          <span id="audio-duration"> 00:00</span>
        </div>
        <div class="circle-image-background" style="background-image: url(' {{ track.thumbnail_images.full.url }} ')">
          <div ng-controller="D3Controller">
            <div duration-chart class="viz" chart-data="positionData"></div>
          </div>
          <i ng-click="pause()" id="playerIcon" class="fa fa-pause round-border playerIcon-pause" ng-show="isPlaying" aria-hidden="true"></i>
          <i ng-click="play()" id="playerIcon" class="fa fa-play round-border playerIcon-play" ng-hide="isPlaying" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="metadata">
      <h4>
        <span ng-repeat="participant in track.custom_fields.participant track by $index" ng-if="$index < 5">
          {{ participant }}<span ng-if="$index < 4">, </span>
        </span>
      </h4>
      <h1>
        {{ track.title }}
      </h1>
    </div>

    <div class="download">
      <h5>
        <a href="http://feeds.soundcloud.com/users/soundcloud:users:62572974/sounds.rss" target="_blank">
          RSS
        </a>
      </h5>
      <h5>
        <a href="https://soundcloud.com/serpentine-uk" target="_blank">
          SOUNDCLOUD
        </a>
      </h5>
    </div>
  </div>
</div>