<div class="row menu-margin">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-sm-10">
		<div ng-controller="DropdownCtrl">
		    <span uib-dropdown on-toggle="toggled(open)">
		      <a href id="dropdown-pages" uib-dropdown-toggle>
		        <h4>Tracks &nbsp;<i class="fa fa-angle-down"></i></h4>
		      </a>
		      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="dropdown-pages">
		        <li>
		        	<h4>
			          <a href ui-sref="participants">Participants</a>
			         </h4>
		        </li>
		        <li>
		        	<h4>
			          <a href ui-sref="series">Series</a>
			         </h4>
		        </li>
		        <li>
		        	<h4>
			          <a href ui-sref="themes">Themes</a>
			         </h4>
		        </li>
		      </ul>
		    </span>
		</div>
	</div>
</div>


<div id="tracks" class="container view-margin">
  <div class="row">
    <div class="col-lg-3">
      <h5>
        Title
      </h5>
    </div>
    <div class="col-lg-3">
      <h5>
        Participant
      </h5>
    </div>    
    <div class="col-lg-2">
      <h5>
        Series
      </h5>
    </div>
    <div class="col-lg-2">
      <h5>
        Theme
      </h5>
    </div>
    <div class="col-lg-1">
      <h5>
        Length
      </h5>
    </div>
    <div class="col-lg-1">
      <h5>
        Date
      </h5>
    </div>
  </div>

  <hr>

  <div id="grid-template">
    <div id="grid-images">

		<div ng-repeat="track in tracks">
			<a ui-sref="track({trackId: track.slug })">
				<div class="row">
				  <div class="col-lg-3 col-md-3 col-sm-12">
				    <p>
				      {{ track.title }}
				    </p>
				  </div>
				  <div class="col-lg-3 col-md-3 col-sm-12">
				    <span ng-repeat="participant in track.custom_fields.participant">
			          {{ participant }}{{$last ? '' : ', '}}
			        </span>
				  </div>    
				  <div class="col-lg-2 col-md-2 col-sm-12">
				    <p>
				      {{ track.custom_fields.series[0] }}
				    </p>
				  </div>
				  <div class="col-lg-2 col-md-2 col-sm-12">
				    <p>
				      {{ track.custom_fields.theme[0] }}
				    </p>
				  </div>
				  <div class="col-lg-1 col-md-1 col-sm-12">
				    <p>
				      Length
				    </p>
				  </div>
				  <div class="col-lg-1 col-md-1 col-sm-12">
				    <p>
				      {{ track.date }}
				    </p>
				  </div>
				</div>
			</a>
			<hr>
		</div>
	</div>
</div>
</div>
