<div id="tracks" class="container">
  <div class="row">
    <div class="col-lg-3">
      <h5>
        Title
      </h5>
    </div>
    <div class="col-lg-3">
      <h5>
        Participant
      </h5>
    </div>    
    <div class="col-lg-2">
      <h5>
        Series
      </h5>
    </div>
    <div class="col-lg-2">
      <h5>
        Theme
      </h5>
    </div>
    <div class="col-lg-1">
      <h5>
        Length
      </h5>
    </div>
    <div class="col-lg-1">
      <h5>
        Date
      </h5>
    </div>
  </div>

  <hr>

  <div id="grid-template">
    <div id="grid-images">

		<div ng-repeat="track in tracks">
			<a ui-sref="tracks.detail({trackId: track.slug })">
				<div class="row">
				  <div class="col-lg-3 col-md-3 col-sm-12">
				    <p>
				      {{ track.title }}
				    </p>
				  </div>
				  <div class="col-lg-3 col-md-3 col-sm-12">
				    <p>
				      {{ track.custom_fields.participant[0] }}
				    </p>
				  </div>    
				  <div class="col-lg-2 col-md-2 col-sm-12">
				    <p>
				      {{ track.custom_fields.series[0] }}
				    </p>
				  </div>
				  <div class="col-lg-2 col-md-2 col-sm-12">
				    <p>
				      {{ track.custom_fields.theme[0] }}
				    </p>
				  </div>
				  <div class="col-lg-1 col-md-1 col-sm-12">
				    <p>
				      Length
				    </p>
				  </div>
				  <div class="col-lg-1 col-md-1 col-sm-12">
				    <p>
				      {{ track.date }}
				    </p>
				  </div>
				</div>
			</a>
			<hr>
		</div>
	</div>
</div>
</div>
