<div class="feature">
  <div class="feature-mask">
    <div class="feature-mask-image">
      <img ng-src="{{ participant.thumbnail_images.large.url }}" alt="{{ participant.title }}">
      <i ng-click="play(participant.custom_fields.audio[0], participant.slug)" id="playerIcon" class="fa fa-play round-border" aria-hidden="true"></i>
    </div>
  </div>
  <div class="feature-text">
    <h5>
      {{ participant.custom_fields.participant[0] }}
    </h5>
    <h1>
      {{ participant.title }}
    </h1>
  </div>
</div>