<div class="container">

	<h1 class="participant-name">
	  {{ participant.title }}
	</h1>

	<div class="participant-header">
		<img ng-src="{{ (participant.thumbnail_images.large.url) ? participant.thumbnail_images.large.url : participant.thumbnail_images.medium.url}}" alt="{{ participant.title }}" class="participant-image">
	</div>

	<h4 class="participant-title">
	  <span ng-repeat="title in participant.custom_fields.title">
	   {{ title }}{{$last ? '' : ', '}}
	  </span>
	</h4>

	<div class="participant-copy">
		<div ng-bind-html="participant.content"></div>
	</div>

</div>