<div id="feature-home">
	<div class="container">
		<div class="circle-image-background" style="background-image: url('{{ series.thumbnail_images.large.url }}')">
		</div>
		<div class="description-container">
			<i ng-click="play(series.custom_fields.audio[0], series.slug)" id="playerIcon-track" class="fa fa-play round-border" aria-hidden="true"></i>
			<h3>
				<span ng-repeat="participant in series.custom_fields.participant">
					{{ participant }}{{$last ? '' : ', '}}
				</span>
			</h3>
			<h1>
				{{ series.title }}
			</h1>
			<h5>
				{{ series.custom_fields.series[0] }}
			</h5>
		</div>
	</div>

	<div class="container">
		<div class="copy">
			<div ng-bind-html="series.content"></div>
		</div>

		<hr>
		<div id="tracks">
			<div class="row hidden-xs">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<p>
						<i ng-click="play(series.custom_fields.audio[0], series.slug)" class="fa fa-play"></i> {{ series.title }}
					</p>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<p>
						<span ng-repeat="participant in series.custom_fields.participant">
							{{ participant }}{{$last ? '' : ', '}}
						</span>
					</p>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<p>
						{{ series.date }}
					</p>
				</div>
			</div>
			<div class="row mobile hidden-lg hidden-md hidden-sm">
				<div class="col-xs-2">
					<p>
						<i ng-click="play(series.custom_fields.audio[0], series.slug)" class="fa fa-play"></i>
					</p>
				</div>
				<div class="col-xs-10">
					<h6>
						<span ng-repeat="participant in series.custom_fields.participant">
							{{ participant }}{{$last ? '' : ', '}}
						</span>
					</h6>
					<p>
						{{ series.title }}
					</p>
				</div>
			</div>
			<hr>

		</div>
	</div>
</div>