<div id="feature">
	<div class="container">
		<div class="circle-image-background" style="background-image: url('{{ series.thumbnail_images.large.url ? series.thumbnail_images.large.url : series.thumbnail_images.full.url }}')">
			<i ng-click="play(tracks[0].custom_fields.audio[0], tracks[0].slug)" id="playerIcon" class="fa fa-play round-border hidden-lg hidden-md hidden-sm" aria-hidden="true"></i>
		</div>
		<div class="description-container">
			<i ng-click="play(tracks[0].custom_fields.audio[0], tracks[0].slug)" id="playerIcon-track" class="fa fa-play round-border hidden-xs" aria-hidden="true"></i>
			<h3>
				<span ng-repeat="participant in series.custom_fields.participant track by $index" ng-if="$index < 5">
					{{ participant }}<span ng-if="$index < 4">, </span>
				</span>
			</h3>
			<h1>
				{{ series.title }}
			</h1>
			<h5>
				{{ series.custom_fields.series[0] }}
			</h5>
		</div>
	</div>

	<div class="container">
		<div class="copy">
			<div ng-bind-html="series.content"></div>
			<p>Participants include <span ng-repeat="participant in series.custom_fields.participant track by $index">
					{{ participant }}{{$last ? '' : ', '}}
				</span>
			</p>
		</div>

		<hr>
		<div ng-repeat="track in tracks | orderBy: 'date'" id="tracks">
			<div class="row hidden-xs">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
					<p>
						<i ng-click="play(track.custom_fields.audio[0], track.slug)" class="fa fa-play"></i> {{ track.title }}
					</p>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
					<p>
						<span ng-repeat="participant in track.custom_fields.participant">
							{{ participant }}{{$last ? '' : ', '}}
						</span>
					</p>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<p>
						{{ track.date }}
					</p>
				</div>
			</div>

			<div class="row mobile hidden-lg hidden-md hidden-sm">
				<div class="col-xs-2">
					<p>
						<i ng-click="play(track.custom_fields.audio[0], track.slug)" class="fa fa-play"></i>
					</p>
				</div>
				<div class="col-xs-10">
					<h6>
						<span ng-repeat="participant in track.custom_fields.participant">
							{{ participant }}{{$last ? '' : ', '}}
						</span>
					</h6>
					<p>
						{{ track.title }}
					</p>
				</div>
			</div>
			<hr>

		</div>
	</div>
</div>