<div class="container">

	<div class="row dropdown-container">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-sm-10">
			<div ng-controller="DropdownCtrl">
				<span uib-dropdown on-toggle="toggled(open)">
			      <a href id="dropdown-pages" uib-dropdown-toggle>
			        <h4>Tracks &nbsp;<i class="fa fa-angle-down"></i></h4>
			      </a>
			      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="dropdown-pages">
			        <li>
			        	<h4>
				          <a href ui-sref="participants">Participants</a>
				         </h4>
			        </li>
			        <li>
			        	<h4>
				          <a href ui-sref="series">Series</a>
				         </h4>
			        </li>
			        <li>
			        	<h4>
				          <a href ui-sref="events">Events</a>
				         </h4>
			        </li>
			      </ul>
			    </span>
			</div>
		</div>
	</div>


	<div id="tracks">
		<div class="row hidden-xs">
			<div class="col-lg-4 col-md-4 col-sm-4">
				<h5>
	        Title
	      </h5>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<h5>
	        Participant
	      </h5>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<h5>
	        Series
	      </h5>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2">
				<h5>
	        Date
	      </h5>
			</div>
		</div>

		<hr class="hidden-xs">

		<div ng-repeat="track in posts">
			<div class="mobile hidden-lg hidden-md hidden-sm">
				<hr>
				<a ui-sref="track({trackId: track.slug })">
					<div class="row">
						<div class="col-xs-4">
							<p>
								TITLE
							</p>
						</div>
						<div class="col-xs-8">
							<h6>{{ track.title }}</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<p>PARTICIPANT</p>
						</div>
						<div class="col-xs-8">
							<h6><span ng-repeat="participant in track.custom_fields.participant">
					          {{ participant }}{{$last ? '' : ', '}}
						        </span></h6>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<p>SERIES</p>
						</div>
						<div class="col-xs-8">
							<h6>{{ track.custom_fields.series[0] }}</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<p>DATE</p>
						</div>
						<div class="col-xs-8">
							<h6>{{ track.date }}</h6>
						</div>
					</div>
				</a>
			</div>

			<div class="row track-listing hidden-xs">
				<a ui-sref="track({trackId: track.slug })">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<p>
							{{ track.title }}
						</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<p>
							<span ng-repeat="participant in track.custom_fields.participant">
				          {{ participant }}{{$last ? '' : ', '}}
				        </span>
						</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<p>
							{{ track.custom_fields.series[0] }}
						</p>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2">
						<p>
							{{ track.date }}
						</p>
					</div>
			</div>
			</a>
			<hr class="hidden-xs">
		</div>
	</div>

</div>