/**
 * SOME IMPORTS
 */
@import "mixins.less";

/***************
VARIABLES
***************/

@base: #141414;
@text: #fafafa;
@inactive: #4c4c4c;

/***************
Angular UI specific
***************/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/***************
TYPOGRAPHY
***************/

@font-face {
	font-family: 'gt_walsheim_thin';
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-webfont.eot');
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-webfont.woff2') format('woff2'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-webfont.woff') format('woff'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-webfont.ttf') format('truetype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-webfont.svg#gt_walsheimthin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gt_walsheim_thin_oblique';
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-oblique-webfont.eot');
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-oblique-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-oblique-webfont.woff2') format('woff2'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-oblique-webfont.woff') format('woff'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-oblique-webfont.ttf') format('truetype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-oblique-webfont.svg#gt_walsheimthin_oblique') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gt_walsheim_bold';
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-webfont.eot');
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-webfont.woff2') format('woff2'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-webfont.woff') format('woff'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-webfont.ttf') format('truetype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-webfont.svg#gt_walsheimbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gt_walsheim_bold_oblique';
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-oblique-webfont.eot');
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-oblique-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-oblique-webfont.woff2') format('woff2'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-oblique-webfont.woff') format('woff'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-oblique-webfont.ttf') format('truetype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-oblique-webfont.svg#gt_walsheimbold_oblique') format('svg');
	font-weight: normal;
	font-style: normal;
}

body,html {
	overflow-x: hidden;
}

body {
	padding-bottom: 100px;
	padding-right: 0 !important;
}

html, body, p, a, h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'gt_walsheim_bold';
	color: @text;
	em {
		font-family: 'gt_walsheim_bold_oblique';
	}
	a {
		font-family: 'gt_walsheim_bold';
	}
	span {
		font-family: 'gt_walsheim_bold';		
	}
}

p, span, time, ul, li, blockquote {
	font-family: 'gt_walsheim_thin';
	color: @text;
	em {
		font-family: 'gt_walsheim_thin_oblique';
	}
	a {
		font-family: 'gt_walsheim_bold';		
	}
	.menu-item {
		/* Styling for primary menu */
		a {
			font-family: 'gt_walsheim_thin';
		}
	}
}

i {
	color: @text;
}

html {
	background: @base;
	color: @text;
}

a {
	color: @text;
	text-decoration: none !important;
	outline: 0;
	&:hover {
		color: @inactive;
	}
	&:hover, &:active, &:focus {
  		outline: 0;
  		color: @inactive;
	}
}

h1 {
	font-size: 42px;
   .small-viewport({
   		font-size: 36px;
   });
}

.active {
	color: @text !important;
}

.schedule-deactive {
	color: @inactive !important;
}


/*************
CONTAINERS
*************/

body, div, header, .site-header  {
	background-color: transparent;
	color: @text;
}

.container {
	margin: 0 auto;
}

.main {
	padding-top: 100px;
	padding-bottom: 100px;
}

#navigation {
	text-align: center;
	.container {
		padding: 30px 0;
	}
	p {
		margin: 0;
	}
	a {
		font-family: 'gt_walsheim_thin';
		padding: 0 20px;
	}
   .small-viewport({
   		text-align: left;
		.container {
			padding: 35px 25px;
		}
 		a {
 			padding: 0;
 			padding-right: 10px;
 		}
   });
}

hr {
	margin-top: 0;
	opacity: .2;
}

.schedule-days {
	h3 {
		cursor: pointer;
	}
}

/*************
ELEMENTS
*************/

a.menu-nav-item {
	text-transform: uppercase;
	color: @inactive;
	cursor: pointer;
	&:hover {
		color: @text;
	}
}

.grid-item {
	min-height: 325px;
	.small-viewport({
		min-height: 264px;
	});
}

/***************
Dropdown menu
***************/

#dropdown-pages {
	h1,h2,h3,h4,h5,h6 {
		color: @text;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
}
.dropdown-container {
	margin: 100px 0;
}

.dropdown-menu {
	background: transparent;
	border: none;
	box-shadow: none;
	padding: 0;
	margin: 0
	margin: 50px;
	li {
		a {
			padding: 0;
			text-transform: uppercase;
			color: @inactive;
			&:hover {
				color: @text;
			}
		}
		h1,h2,h3,h4,h5,h6 {
			margin-bottom: 10px;
		}
	}
}


/**********************
Player modal
**********************/

 body.modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
}

.modal {
	display: block;
	height: 100%;
}

.modal-open .modal {
}

.modal-window {
	max-height: 100%;
}

.modal-backdrop {
	height: 100%;
}

.modal-dialog {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
}

.modal-content {
	background: @base;
	height: 100%;
	border-radius: 0;
	border: none;
	box-shadow: none;
}

.modal-body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

/* Player Modal */
.playerModal {
	h1,h2,h3,h4,h5,h6 {
		margin: 0;
	}
	i {
		cursor: pointer;
		padding: 10px;
	}
	.metadata {
		position: fixed;
		max-width: 40%;
		left: 20px;
		bottom: 20px;
	}
	#playerIcon {
		background: transparent;
		border: 2px #fff solid;
		padding: 10px;
		padding-left: 10px;
		opacity: 0.8;
		cursor: pointer;
	}
	.download {
		position: fixed;
		max-width: 40%;
		text-align: right;
		right: 20px;
		bottom: 20px;	
	}
	.playerIcon-play {
		padding-left: 11px !important;
	}
	#feature {
		.container {

		}
	}
	iframe {
		position: fixed;
		bottom: 0;
		padding-top: 86px;
	}
}

/* Marathon Modal */
.marathonModal {
	h1,h2,h3,h4,h5,h6 {
		margin: 0;
	}
	i {
		cursor: pointer;
		padding: 10px;
	}
	.metadata {
		position: fixed;
		max-width: 40%;
		left: 20px;
		bottom: 20px;
	}
	#playerIcon {
		background: transparent;
		border: 2px #fff solid;
		padding: 10px;
		padding-left: 10px;
		opacity: 0.8;
		cursor: pointer;
	}
	.download {
		position: fixed;
		max-width: 40%;
		text-align: right;
		right: 20px;
		bottom: 20px;	
	}
	.playerIcon-play {
		padding-left: 11px !important;
	}
	#feature {
		.container {

		}
	}
	iframe {
		position: fixed;
		bottom: 0;
		padding-top: 86px;
	}
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
	.small-viewport({
		margin-top: -125px;
		margin-left: -125px;
	});
}

#playerMin {
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 10000;
	cursor: pointer;
}

#playerNext {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	right: 20px;
}

#playerBack {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: 20px;
}

#playerIcon {
	background: #4696ff;
	font-size: 10px;
	border: none;
	padding: 12px;
	padding-left: 14px;
	position: absolute;
	left:-50%;
	right:-50%;
	top:-50%;
	bottom:-50%;
	margin: auto;
	height: 34px;
	width:  33px;
	z-index: 0;
	&:hover {
		opacity: 0.5;
	}
	cursor: pointer;
}

.blur {
	z-index: -10 !important;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
	i {
		cursor: pointer;
		display: none;
	}
	iframe {
		display: none;
	}
}

.send-to-back {
	z-index: -11 !important;
}
.round-border {
	border: 2px solid @text;
	border-radius: 50%;
	background: @base;
}

/****************
Wave Icon
****************/

#playerToggle {
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

#live-metadata {
	position: fixed;
	top: 30px;
	right: 80px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.wave-container {
  align-items: center;
  //border: 2px solid #262626;
  background-color: white;
  border: 2px solid black;
  display: flex;
  height: 40px;
  margin: 0 auto;
  width: 40px;
  border-radius: 50%;
  z-index: 9000;
}

svg { 
  margin: 0 auto; 
  overflow: hidden;
}

#wave {
  stroke-dasharray: 0 16 101 16;
  animation: moveTheWave 2400ms linear infinite;  
}

@keyframes moveTheWave {
  0% { 
    stroke-dashoffset: 0; 
    transform: translate3d(0, 0, 0);
  }
  100% { 
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }
}

/****************************
Components for overview pages
****************************/

/* Used for feature view of circular images */

.image-circle {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
	.small-viewport({
		width: 275px;
		height: 275px;
	});
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.title {
	position: relative;
	width: 60%;
	display: block;
	margin: 0 auto;
	margin-top: -200px;
	z-index: 100;
	.small-viewport({
		width: 95%;
		margin-top: -70px;
		h1 {
			font-size: 12px;
		}
	});
}

/* Used for grid view of circular images */
.circle-image-background {
	background-size: cover;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.item-box {
	display: block;
	margin: 0 auto;
	min-height: 325px;
	box-sizing: content-box;
	.small-viewport({
		min-height: 264px;
	});
	h1, h2, h3, h4, h5, h6 {
		margin: 5px auto;
	}
}

.description {
	background: transparent;
	position: absolute;
	width: 100%;
	max-width: 300px;
	display: block;
	margin-top: -50px;
	h1, h2, h3, h4, h5, h6, p {
		margin: 3px auto;
	}
	p {
		line-height: 20px;
	}
}

/* For featured post on the home page */
.description-container {
	position: absolute;
	bottom: 50px;
	z-index: 3;
	.small-viewport({
		bottom: -50px;
	});
}

#feature {
	.item-box {
		width: 400px;
		height: 450px;
		position: relative;
		.small-viewport({
			width: 250px;
			height: 250px;
		});
	}
	.circle-image-background {
		width: 400px;
		height: 400px;
		max-width: 100%;
		max-height: 100%;
		.small-viewport({
			width: 250px;
			height: 250px;
		});
	}
	.circle-image-background-wrapper {
		width: 100%;
		height: 100%;
	}
	.container {
		position: relative;
		box-sizing: content-box;
		width: 65%;
		padding: 50px 0;
		.small-viewport({
			width: 90%;
			height: auto;
		});
	}
	.container-scaled {
		/*height: calc(~"100vh - 280px");
		.medium-viewport({
			max-height: 450px;
		})
		.small-viewport({
			width: 90%;
			height: auto;
		});*/
	}
	.feature-image {
		display: block;
		border-radius: 50%;
	}
	h1,h2,h3,h4,h5,h6 {
		margin:0;
	}
	#playerIcon-track {
		background: #4696ff;
		font-size: 10px;
		border: none;
		padding: 12px;
		padding-left: 14px;
		margin-bottom: 15px;
	}
	.copy {
		margin-top: 0;
	}
	iframe {
		margin-top: 50px !important;
	}
}

.menu-container {
	margin-top: 25px;
	.small-viewport({
		margin-top: 100px;
	});
}

#menu {
	width: 3000px;
	margin: 150px auto 0 auto;
	margin-left: 50px;
	.small-viewport({
		width: 100vw;
		height: auto;
		margin: 0;
	});
	.medium-viewport({
		margin-left: 0;
	});
	.item-box {
		width: 205px;
		position: relative;
		.small-viewport({
			min-height: 250px;
		})
	}
	.circle-image-background {
		width: 205px;
		height: 205px;
		max-width: 100%;
		max-height: 100%;
	}
	.description-container {
		bottom: 75px;
	}
	.show-more {
		h1,h2,h3,h4,h5,h6,p {
			text-align: center;
			margin-top: 91px;
		}
		border: 5px @text solid;
	}
}

#menu::-webkit-scrollbar { 
    display: none; 
}


/****************************
Overview pages
****************************/

#participants {
	.item-box {
		width: 205px;
		position: relative;
	}
	.circle-image-background {
		width: 205px;
		height: 205px;
		max-width: 100%;
		max-height: 100%;
	}
	.circle-info {
		background: transparent;
		position: absolute;
		width: 50px;
		height: 50px;
		right: 0;
		border: 2px solid #fff;
		border-radius: 50%;
		opacity: 0.7;
		p {
			text-align: center;
			vertical-align: middle;
			line-height: 45px;
			opacity: 1;
		}
	}
	.show-more {
		h1,h2,h3,h4,h5,h6,p {
			text-align: center;
			margin-top: 91px;
		}
		border: 5px @text solid;
	}
}


#series {
	.item-box {
		width: 300px;
		min-height: 385px;
		.small-viewport({
			width: 250px;
			min-height: 325px;
		});
	}
	.circle-image-background {
		width: 300px;
	    height: 300px;
	    max-height: 100%;
	    max-width: 100%;
		.small-viewport({
			width: 250px;
			height: 250px;
		});
	}
	.player-icon {
		background: #4696ff;
		font-size: 10px;
		height: 34px;
		width:  33px;
		position: relative;
		display: block;
		margin: 0 auto;
		top: 135px;
		border: none;
		padding: 12px;
		padding-left: 14px;
		z-index: 0;
		&:hover {
			opacity: 0.5;
		}
		.small-viewport({
			top: 105px;
		});
	}
}

#tracks {
	h1,h2,h3,h4,h5,h6,p,span {
		white-space: nowrap;
		overflow: hidden;		
		text-overflow: ellipsis;
	}
	i {
		cursor: pointer;
		padding: 0 10px;
	}
	h5 {
		text-transform: uppercase;
	}
	.mobile {
		.row {
			h1,h2,h3,h4,h5,h6,p,span {
				margin-bottom: 5px;
			}
		}
		hr {
			margin: 10px 0;
		}
		h6 {
			margin-bottom: 0;
		}
	}
}

.track-listing:hover {
	p, a, span {
		color: #4696ff;
		span {
			color: #4696ff;
		}
	}	
}


/********************
Styling for single pages
********************/

#about {
	margin-top: 25px;
	.container {
		width: 65%;
	}
	h3 {
		font-family: 'gt_walsheim_thin';
		strong {
			font-family: 'gt_walsheim_bold';
		}
	}
}

/*
* The participant single page
*/
.participant-header {
	height: 400px;
	height: 65vh;
	width: 100%;
	position: relative;
	opacity: 0.8;
	.small-viewport({
		height: auto;
	});
	img {
		display: block;
		margin: 0 auto;
		height: 100%;
		.small-viewport({
			width: 95%;
			height: auto;
		});
	}
}
.participant-name {
	position: relative;
	width: 80%;
	display: block;
	margin: 0 auto;
	font-size: 70px;
	margin-bottom: -0.5em;
	z-index: 10;
	line-height: 1;
	.medium-viewport({
		width: 80%;
		font-size: 50px;
	});
	.small-viewport({
		width: 100%;
		font-size: 30px;
	});
}
.participant-title {
	position: relative;
	width: 80%;
	font-size: 28px;
	letter-spacing: 1px;
	display: block;
	margin: 0 auto;
	padding: 25px 0;
	text-transform: uppercase;
	line-height: 1;
	.medium-viewport({
		width: 80%;
		font-size: 26px;
	});
	.small-viewport({
		width: 100%;
		font-size: 24px;
	});
}
.participant-copy {
	max-width: 600px;
	margin: 100px auto;
	border-bottom: 1px solid rgba(250,250,250,0.3);
	padding-bottom: 2px;
	font-size: 22px;
	line-height: 1.4;
	.medium-viewport({
		max-width: 460px;
		font-size: 20px;
	});
	.small-viewport({
		font-size: 18px;
	});
}


#event {
	.section-heading {
		margin: 100px 0 75px 0;
	}
	.container {
		display: block;
		margin: 0 auto;
		width: 70%;
	}
	p {
		font-size: 20px;
	}
	a {
		cursor: pointer;
	}
	.information {
		p {
			font-size: 16px;
		}
		h5 {
			margin-bottom: 5px;
		}
		img {
			height: 40px;
			margin-bottom: 24px;
			margin-top: 5px;
		}
	}
	.circle-info {
		p {
			font-size: 16px;
		}
	}
	.header {
		width: 100%;
		position: relative;
		margin-top: -20px;
		.small-viewport({
			height: auto;
		});
		img {
			height: 500px;
			overflow: hidden;
			display: block;
			margin: 0 auto;
			width: 100%;
			.small-viewport({
				width: 100%;
				height: auto;
			});
		}
	}
	.name {
		position: relative;
		width: 60%;
		display: block;
		margin: 0 auto;
		min-height: 50px;
		margin-bottom: -18px;
		z-index: 10;
		.small-viewport({
			width: 95%;
			margin-bottom: -10px;
		});
	}
	#participants {
		width: 80%;
		margin-bottom: 75px;
		.circle-image-background {
			margin: 50px 0 !important;
		}
	}
	#programme {
		padding: 50px 0;
		h2, p {
			margin: 0;
		}
		.row {
			padding: 35px 0;
		}
		hr {
			margin: 0;
		}
		p {
			font-size: 18px;
		}
		.programme-item {
			margin: 50px 0;
		}
		.container {
			display: block;
			width: 60%;
			margin: 0 auto;
		}
		.circle-image-background {
			width: 205px;
			height: 205px;
			max-width: 100%;
			max-height: 100%;
			margin-top: 75px;
		}
		.show-more {
			h1,h2,h3,h4,h5,h6,p {
				text-align: center;
				margin-top: 91px;
			}
			border: 5px @text solid;
		}	
	}
	#supporters {
		h3 {
			text-transform: uppercase;
		}
		.title {
			margin: 100px 0 50px 0;
		}
		img {
			height: 50px;
			width: auto;
		}
		h5 {
			font-size: 18px;
			font-family: 'gt_walsheim_thin';
		}
		h4 {
			font-size: 20px;
		}
	}
	#blog {
		height: auto;
		p {
			font-size: 18px;
		}
		.container {
			width: 70%;
		}
		.item-box {
			width: 205px;
			position: relative;
			.small-viewport({
				min-height: 250px;
			})
		}
		.circle-image-background {
			width: 205px;
			height: 205px;
			max-width: 100%;
			max-height: 100%;
			margin-top: 75px;
		}
		.show-more {
			h1,h2,h3,h4,h5,h6,p {
				text-align: center;
				margin-top: 91px;
			}
			border: 5px @text solid;
		}	
		iframe {
			min-height: 350px !important;
		}
		#player {
			height: 350px !important;
		}	
	}
}

#watch-livestream {
	position: absolute;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	margin-top: -250px;
	display: block;
	cursor: pointer;
	.medium-viewport({
			margin-top: -150px;
	})
}

#watch-livestream:hover {
	opacity: 0.5;
}

#participants-show-more {
	margin: 50px auto !important;
	margin-bottom: 100px !important;
}

#blog {
	h1 {
		font-size: 42px;
		.small-viewport({
			font-size: 38px;
		});
	}
	hr {
		margin: 0;
	}
	.container {
		display: block;
		margin: 0 auto;
		width: 70%;
		.small-viewport({
			width: 90%;
		});
	}
	.navigation {
		text-align: center;
		margin: 0;
		margin-top: 100px;
	}
	img, iframe {
		display: block;
		margin: 70px auto;
		  /* 1/3 of 60% = the 20% margin on either side */
	}
	img.alignleft {
		margin: 25px auto;
		padding-right: 25px;
	}
	img.alignright {
		margin: 25px auto;
		padding-left: 25px;
	}
}


.blog-post {
	padding: 100px 0;
	.header {
		h1,h2,h3,h4,h5,h6,p {
			text-align: center;
			margin:0;
		}
		h1,h2,h3 {
			margin-bottom: 75px;
		}
	}
	img, iframe {
		display: block;
		margin: 50px auto;
		  /* 1/3 of 60% = the 20% margin on either side */
	}
}