/***************
VARIABLES
***************/

@base: #141414;
@text: #fafafa;
@inactive: #4c4c4c;

/***************
TYPOGRAPHY
***************/

@font-face {
	font-family: 'gt_walsheim_thin';
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-webfont.eot');
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-webfont.woff2') format('woff2'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-webfont.woff') format('woff'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-webfont.ttf') format('truetype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-webfont.svg#gt_walsheimthin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gt_walsheim_thin_oblique';
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-oblique-webfont.eot');
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-oblique-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-oblique-webfont.woff2') format('woff2'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-oblique-webfont.woff') format('woff'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-oblique-webfont.ttf') format('truetype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-thin-oblique-webfont.svg#gt_walsheimthin_oblique') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gt_walsheim_bold';
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-webfont.eot');
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-webfont.woff2') format('woff2'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-webfont.woff') format('woff'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-webfont.ttf') format('truetype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-webfont.svg#gt_walsheimbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gt_walsheim_bold_oblique';
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-oblique-webfont.eot');
	src: url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-oblique-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-oblique-webfont.woff2') format('woff2'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-oblique-webfont.woff') format('woff'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-oblique-webfont.ttf') format('truetype'),
		 url('../vendor/fonts/GT-Walsheim/gt-walsheim-bold-oblique-webfont.svg#gt_walsheimbold_oblique') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, p, a, h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'gt_walsheim_bold';
	color: @text;
	em {
		font-family: 'gt_walsheim_bold_oblique';
	}
	a {
		font-family: 'gt_walsheim_bold';
	}
}

p, span, time, ul, li, blockquote {
	font-family: 'gt_walsheim_thin';
	color: @text;
	em {
		font-family: 'gt_walsheim_thin_oblique';
	}
	a {
		font-family: 'gt_walsheim_bold';		
	}
	.menu-item {
		/* Styling for primary menu */
		a {
			font-family: 'gt_walsheim_thin';
		}
	}
}

html, body, div, header, .site-header {
	background: @base;
	color: @text;
}

a {
	color: @text;
	text-decoration: none !important;
	outline: 0;
	&:hover {
		color: @inactive;
	}
	&:hover, &:active, &:focus {
  		outline: 0;
	}
}

.active {
	color: @text !important;
}

/*************
CONTAINERS
*************/

@gutter:        30px;
@padding-side:  15px;
@margin-menu-view:  150px;

body {
	overflow-x: hidden;
}

.container {
	margin: 75px auto;
}

/* Overflow track menu */
#index-template {
	#menu-list {
		width: 3000px;
		max-width: 10000px;
		li {
			vertical-align: top;
		}
	}
	#menu-nav {
		margin-bottom: @margin-menu-view;
	}
}


/*************
ELEMENTS
*************/

@round-image-w:     225px;
@round-image-h:     225px;
@margin-feature:    @round-image-w / 6;
@margin-title:      5px;
@margin-text:       -35px;
@margin-text-grid:  -20px;


a.menu-nav-item {
	text-transform: uppercase;
	color: @inactive;
	cursor: pointer;
	&:hover {
		color: @text;
	}
}

.circle-mask {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  img {
	height: 100%;
	left:-50%;
	right:-50%;
  }
}

@media only screen and (min-width : 768px) {
	.circle-mask {
		width: 203px;
		height: 203px;
	}
}
@media only screen and (min-width : 992px) {
	.circle-mask {
		width: 198px;
		height: 198px;
	}
}
@media only screen and (min-width : 1200px) {
	.circle-mask {
		width: 247px;
		height: 247px;
	}
}

.circle-border {
	background: transparent;
	position: absolute;
	right: 15px;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 50%;
	z-index: 3;
	opacity: 0.7;
	p {
		text-align: center;
		vertical-align: middle;
		line-height: 45px;
		opacity: 1;
	}
}

.header-page {
	h1,h2,h3,h4,h5,h6 {
		text-transform: uppercase;
	}
	p {
		text-align: right;
	}
}

.grid-item {
	min-height: 325px;
}

.grid-item-description {
	background: transparent;
	position: absolute;
	bottom: 0;
	h1, h2, h3, h4, h5, h6, p {
		margin: 3px auto;
	}
	p {
		line-height: 20px;
	}
}

.menu-feature {
	height: 300px;
	width: @round-image-w;
	margin-right: @margin-feature;
	.menu-feature-text {
		width: @round-image-w;
		margin-top: @margin-text;
		z-index: 2;
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: @margin-title;
		}
	}
	.menu-mask {
		height: @round-image-h;
		width: @round-image-w;
		border-radius:100%;
		display: block;
		margin: auto;
		overflow: hidden;
		z-index: 1;
		.menu-mask-image {
			left:-50%;
			right:-50%;
			top:    0;
			margin: auto;
			height: 100%;
			width:  auto;
			z-index: 0;
			
		}
		img.menu-mask-image {
			opacity: 1;
		}
	}
}


.header-feature {
	min-height: 450px;
	padding: @gutter;
	.header-mask {
		height: @round-image-h * 2;
		width: @round-image-w * 2;
		border-radius:100%;
		display: block;
		margin: auto;
		overflow: hidden;
		z-index: 1;
		.header-mask-image {
			left:-50%;
			right:-50%;
			top:    0;
			margin: auto;
			height: 100%;
			width:  auto;
			z-index: 0;
		}
	}
	.header-feature-text {
		width: @round-image-w * 2.5;
		z-index: 2;
		margin-top: -150px;
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: @margin-title - 10;
		}
	}
}